//custom sass files
$primary: #ca0000;
$secondary:#08022c;
$success:#00F0FF;
$light: #ffffff;



//inport of the function and viriable
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/tooltip';

$custome-theme-colors: (
    "transparent":#09053600,
    "lightblue":#e60127
);


$theme-colors : map-meg( $custome-theme-colors,$theme-colors);

//original sass files
@import '../node_modules/bootstrap/scss/bootstrap.scss';


