*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:  #ffffff;
    font-family: 'poppins', sans-serif;
    
}




/* NAVIGATION BAR */
nav{
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px #16045826;
    position: fixed;
    width: 100%;
    background-color: #003d3d;
    z-index: 999;
}
label .logo{
    color: #00dd95;
    font-size:40px ;
    width: 5%;
    text-decoration: none;
    line-height: 80px;
    padding-left: 2px;
    font-weight: 800;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin:0 5px  ;
}
    nav ul li a{
        color: aliceblue;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(245, 245, 248);
        font-size: 16px ;
        font-weight: 800;
        transition: 0.3s ease;
    /*box around nav*/
        padding: 15px 45px;
        border-radius: 3px;
      
    }


    .checkbtn{
        font-size: 30px;
        color: beige;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;

    }



    nav .programs,.fees,.admision,.services{
        background-color: #08022c;
    }
    nav .programs:hover,.fees:hover,.admision:hover,.services:hover,.contact:hover{
        background-color:#ffffff;
        -webkit-text-fill-color: #08022c;
        transition: 0.3s;
    
    }
    nav a.services{
        background:#ffffff;
        color: #08022c;
    }


    @media (max-width:952px) {

        label .logo{
    font-size:35px ;
    padding: 0 100px;
}
nav ul li{
    font-size: 16px;
}

    }

    @media (max-width:952px) {

        .checkbtn{
display: block;
}
 nav ul{
    position: fixed;
    width: 100%;
    height: 100hvh;
    background: #040127e7;
    top:80px;
    left:-100%;
    text-align:center ;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
}
nav ul li a{
    font-size:20px ;

}

#check:checked ~ ul{
    left: 0;

}
    }

@media only screen and (min-width: 953px) and (max-width: 1077px) {


    nav ul li a{
     padding: 15px 20px;     
}


label .logo{
    font-size:30px ;
    padding-left: 0;
}
    }







/*first part*/



.first_part {
    height: 50vh;
    width: 100%;
    padding-top: 11vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first_part .box1 {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Image stays in the background */
}

.first_part .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background:linear-gradient(rgba(3, 13, 53, 0.384),rgba(3, 13, 53, 0.719));/* Shadow overlay */
    z-index: 2; /* Overlay above the image */
}

.first_part .text-overlay {

    z-index: 3; /* Ensures text is above the shadow and image */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    width: 100%; /* Constrain text width */
    height: fit-content;
    margin: 0 auto; /* Center the text */
}



.first_part .text-overlay .text-overlay_child1{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

}

.first_part .text-overlay .text-overlay_child1 div{
    width: 100%;
    height: fit-content;
}

.first_part .text-overlay .text-overlay_child1 div h1{ 
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    margin-left: 6%;
    text-transform: uppercase;
    text-align: start;
}






  /*second part*/

.second_part{
    height: fit-content;
    width: 100%;
    background:#ffffff;
    display: flex;
    flex-direction: column;
    margin: 8rem 0 3rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .second_part_1 {
    background-color: #1e098600;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2px; /* Reduced gap between columns */
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center; 
}


  .second_part_1_child1{
    height: fit-content;
    width: 90%;
      position: relative;
      color: #020505;
      background-color: #ffffff;
      align-content: start;
      align-items: start;
      text-align: start;
      transition: 0.3s ease;
     
  }

  .second_part_1_child1:hover {
   
        box-shadow: 0 6px 6px -6px #06050ed3, /*Bottom shadow */-6px 0 6px -6px rgba(1, 6, 7, 0.836), /* Left shadow */6px 0 6px -6px rgba(1, 6, 7, 0.836); /* Right shadow */
    }
    
   
  .second_part .instruction{
    font-size: 30px;
    font-family:fantasy;
    font-weight: 550;
    margin-bottom: 15px;
    color: #000000;  
      }

.second_part .instruction2{
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #000000d2; 
    text-align: start; 
      }




.second_part_1_child1 h1{
font-size: 22px;
font-family:fantasy;
font-weight: 500;
color: #000000;
text-align: center;
margin: 10px 0 5px 0;
    
  }
   

  .second_part_1_child1 .steps{
    width: 100%;
    font-size: 70px;
    font-weight: 800;
    color:#08773c;
    text-align: center;
  }


  .second_part_1_child1 .details{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: #000000d7;
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8rem; 
    text-align: center; 
    }

    .second_part_1_child1 .apply_btn{
        color: #0ad86a;
        font-size: 19px;
        font-weight: 700;
        }






 /* this is the third part */

        .third_part {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
            padding: 20px;
        }
        
        .slideshow-container {
            display: flex;
            flex-wrap: nowrap;
            gap: 20px;
            text-align: center;
        }


        .slideshow-container .slideshow_tittle{
            display: inline-block;
            width: fit-content; /* to allow space for margin */ 
            margin: 4%;
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            background-color: #003d3d;
            padding: 10px;
            box-shadow: 2px 2px 10px rgb(0, 0, 0);
            border-radius: 3px;
            text-align: left;
            text-decoration: none;
            text-align: center;
            transition: 0.3s ease;
        }


        .slideshow-container .slideshow_tittle:hover{
            color: #003d3d;
            background-color: #f9f9f9;
        }
        
        
        .slideshow {
            position: relative;
            width: 24%;
            overflow: hidden;
            box-sizing: border-box;
        }
        
        .slides {
            display: flex;
            transition: transform 0.5s ease;
        }
        
        .slide {
           width: 90%;
           height: 28rem;
           margin: auto;
            box-sizing: border-box;
        }

        img {
           width: 100%;
           height: 100%;
           object-fit:cover;
        }

        
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            background-color: rgba(0,0,0,0.8);
            border: none;
            font-weight: bold;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }
        
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,1);
        }
        
        .prev {
            left: 0;
        }
        
        .next {
            right: 0;
        }
        
        .dots-container {
            text-align: center;
            padding: 10px 0;
        }
        
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.3s ease;
        }
        
        .dot.active, .dot:hover {
            background-color: #717171;
        }



        



 /* this is the fourth part */

 .fourth_part{
    justify-content: space-between;
    align-content: center;
    margin: 20px;
}

.fourth_part h1{
    font-size: 30px;
    font-family:fantasy;
    font-weight: 550;
    margin: 3%;
    color: #000000; 
    text-align: center;
}


.list-container {
    width: 80%; /* Two lists per row */
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

#expand-toggle-1, #expand-toggle-2, #expand-toggle-3, #expand-toggle-4 {
    display: none; /* Hide the checkboxes */
}

.list-btn {
    display: inline-block;
    background-color: #f9f9f9;
    color: #08022c;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.473);
    transition: width 0.5s ease-out;
    position: relative;
}

.list-btn:hover{
    background-color:#08022c;
    color: #f9f9f9;
 
}


.list-btn i {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

#expand-toggle-1:checked ~ .list-btn i,
#expand-toggle-2:checked ~ .list-btn i,
#expand-toggle-3:checked ~ .list-btn i,
#expand-toggle-4:checked ~ .list-btn i {
    transform: rotate(180deg); /* Rotate the icon */
    content: "\f00d"; /* FontAwesome 'X' icon */
    font-family: "FontAwesome";
}

/* Expand the list and label when checkbox is checked */
#expand-toggle-1:checked ~ .list-btn,
#expand-toggle-2:checked ~ .list-btn,
#expand-toggle-3:checked ~ .list-btn,
#expand-toggle-4:checked ~ .list-btn {
    width: 100%; /* Expand the button to 100% width */
}

#expand-toggle-1:checked ~ .expandable-list,
#expand-toggle-2:checked ~ .expandable-list,
#expand-toggle-3:checked ~ .expandable-list,
#expand-toggle-4:checked ~ .expandable-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    max-height: fit-content; /* Adjust as needed to fit the list */
}

.expandable-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0; /* Initially collapsed */
}

.expandable-list li {
    display: inline-block;
    width: fit-content; /* to allow space for margin */ 
    margin: 4%;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0px 2px 5px rgb(4, 100, 25);
    text-align: left;
}









/*this is the last section*/
  



.last_part{
    height: 60vh;
    background: #03011a;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
    }
    
    .last_part .content_container{
        display: flex;
        flex-direction: row;
        height: 60vh;
        justify-content: space-evenly ;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;   
    }
    
    
    .last_part  li{
        color: #00F0FF;
        list-style-type: none;
        line-height: 25px;
    }
    
    .last_part  li a{
        color: #00F0FF;
        text-decoration: none;
        line-height: 30px;
    }
    
    
    .last_part .tittles {
        font-size: 20px;
        text-align: start;
        margin-bottom: 30px;
    }
    
    
    
    .last_part .content_container .box_container1, .last_part .content_container .box_container2, .last_part .content_container .box_container3, .last_part .content_container .box_container4{
        height: 45vh;
        width: 13%;
        background-color:#11055500;
        color: #00F0FF;
        text-align: start;
    }

    

    .last_part .icons {
        display: flex;
        flex-wrap: wrap;
        width: 13%;
        justify-content: space-around;
        text-align: start;
    }




    .box {
        flex: 0 1 calc(50% - 20px);
        color: #00F0FF;
        padding: 15px;
        margin: 5px;
        font-size: 28px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px 8px #0ad86a94;
        box-sizing: border-box;
    }


    .box:hover{
        cursor: pointer;
        color:#08022c;
        background-color: #ffffffc2;
        box-shadow: 2px 2px 8px #0175fad0;
    }

    
    footer{
        height: 5vh;
        background-color:#003d3d ;
        
    }
    
    footer p{
        color:#08022c;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        list-style-type: none;
        padding-top: 8px;
    }
    
    footer p a{
        color:#08022c;
        text-align: center;
        list-style-type: none;
        padding-top: 8px;
    }








   
/* Responsive styles */
@media only screen and (max-width: 359px) {

        
    

        
}

@media only screen and (min-width: 360px) and (max-width: 479px) {

           


}
@media only screen and (min-width: 480px) and (max-width: 767px) {



           
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    
        
    
    
   
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1384px) {


}
