*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:  #08022c;
    font-family: 'poppins', sans-serif;
 
}






/* NAVIGATION BAR */
nav{
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px #16045826;
    position: fixed;
    width: 100%;
    background-color: #003d3d;
    z-index: 999;
}
label .logo{
    color: #00dd95;
    font-size:40px ;
    width: 5%;
    text-decoration: none;
    line-height: 80px;
    padding-left: 2px;
    font-weight: 800;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin:0 5px  ;
}
    nav ul li a{
        color: aliceblue;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(245, 245, 248);
        font-size: 16px ;
        font-weight: 800;
        transition: 0.3s ease;
    /*box around nav*/
        padding: 15px 45px;
        border-radius: 3px;
      
    }


    .checkbtn{
        font-size: 30px;
        color: beige;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;

    }



    nav .programs,.fees,.admision,.services{
        background-color: #08022c;
    }
    nav .programs:hover,.fees:hover,.admision:hover,.services:hover,.contact:hover{
        background-color:#ffffff;
        -webkit-text-fill-color: #08022c;
        transition: 0.3s;
    
    }
    nav a.programs{
        background:#ffffff;
        color: #08022c;
    }


    @media (max-width:952px) {

        label .logo{
    font-size:35px ;
    padding: 0 100px;
}
nav ul li{
    font-size: 16px;
}

    }

    @media (max-width:952px) {

        .checkbtn{
display: block;
}
 nav ul{
    position: fixed;
    width: 100%;
    height: 100hvh;
    background: #040127e7;
    top:80px;
    left:-100%;
    text-align:center ;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
}
nav ul li a{
    font-size:20px ;

}

#check:checked ~ ul{
    left: 0;

}
    }

@media only screen and (min-width: 953px) and (max-width: 1077px) {


    nav ul li a{
     padding: 15px 20px;     
}


label .logo{
    font-size:30px ;
    padding-left: 0;
}
    }






/*first part*/



.first_part {
    height: 50vh;
    width: 100%;
    padding-top: 11vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first_part .box1 {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Image stays in the background */
}

.first_part .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background:linear-gradient(rgba(3, 13, 53, 0.384),rgba(3, 13, 53, 0.719));/* Shadow overlay */
    z-index: 2; /* Overlay above the image */
}

.first_part .text-overlay {

    z-index: 3; /* Ensures text is above the shadow and image */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    width: 100%; /* Constrain text width */
    height: fit-content;
    margin: 0 auto; /* Center the text */
}



.first_part .text-overlay .text-overlay_child1{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

}

.first_part .text-overlay .text-overlay_child1 div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    align-items: center;
}

.first_part .text-overlay .text-overlay_child1 div h1{ 
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 0 3%;
    text-align: center;
    text-transform: uppercase;
}


.first_part .text-overlay .text-overlay_child1 div h1 {
    background: linear-gradient(90deg, #003d3d, #ffffff, #003d3d, #ffffff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorFlow 2s linear infinite;
}

@keyframes colorFlow {
    100% {
        background-position: 0% 50%;
    }
    0% {
        background-position: 100% 50%;
    }
}




.first_part .text-overlay .text-overlay_child1 i{
    margin: 6px 0 0 10px;
    font-weight: 800;
    
}

.first_part .text-overlay .text-overlay_child1 .color-flow-icon {
    font-size: 50px;
    background: linear-gradient(90deg, #003d3d, #ffffff, #003d3d, #ffffff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorFlow 1.3s linear infinite;
}

@keyframes colorFlow {
    100% {
        background-position: 0% 50%;
    }
    0% {
        background-position: 100% 50%;
    }
}



  
.first_part .text-overlay .text-overlay_child1 .program_button{
    width: fit-content;
    position: relative;
    font-size: 1rem;  
    text-decoration: none;
    padding: 10px 20px;
    background-color: #003d3d;
    color:  #ffffff;
    margin: 6px  0 0 10px;
    border-radius: 3px;
    font-weight: 800;
   
}

.first_part .text-overlay .text-overlay_child1 .program_button:hover{
    color:  #003d3d;
    background-color: #f5f4f2;
    transition: 0.5s;
}







/*second part*/

.second_part {
    height: fit-content;
    width: 100%; /* or any specific width */
    background:linear-gradient(rgb(122, 131, 167),rgb(255, 255, 255));
    display:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.second_part .text{
    width: 80%;
    margin: auto;
    padding:2rem 0 4rem 0 ;   
}

.second_part .text h1{
padding-top: 40px;
font-size: 17px;
font-weight: 600;
text-justify:newspaper;
color: #ffffff;   
}


 .apply_button{
    font-family:Impact, Haettenschweiler, 'ArialNarrow Bold';
    color: #ffffff;
    background:#003d3d;
    margin:3rem 0 2rem 0;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 0.6rem 4rem 0.6rem 4rem;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 10px #12045f;
    transition: 0.3s;
}

.apply_button:hover{
    color: #0ad86a;
    background:#ffffffbb;
    border: 1px solid #0ad86a;
} 


/*this is where the certification container starts*/

.inside_second_part{
    height: fit-content;
    width: 100%;
    background:linear-gradient(rgba(255, 255, 255, 0),rgba(214, 213, 230, 0) 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inside_second_part_1 {
    height: fit-content;
    background-color: #1e098600;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    row-gap: 15px;
    margin: 0 6% 0 6%;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center; 
    
}


.inside_second_part_1_child1{
      height: 30vh;
      width: 90%;
      position: relative;
      color: #020505;
      background-color: #ffffff;
      padding: 5%;
      border-radius:5px ;
      box-shadow: 0 0 6px #06050ed3, /* Horizontal and vertical shadow */
      0 0 4px rgba(1, 6, 7, 0.836), /* Second layer of shadow */
      0 0 4px rgba(1, 6, 7, 0.836); /* third layer of shadow */ 
      align-content: start;
      align-items: start;
      text-align: start;
}
  
 
.inside_second_part .instruction{
    font-size: 40px;
    font-family:fantasy;
    font-weight: 550;
    margin-bottom: 50px;
    color: #000000;
        
 }


.inside_second_part_1_child1 h1{
font-size: 25px;
font-family:fantasy;
font-weight: 500;
color: #000000;
text-align:center;
    
}
   

.inside_second_part_1_child1 .details{
    font-family:'Courier New' monospace;
    color: #000000d7;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    font-size: 15px;
    font-weight: 550;
    line-height: 1.5rem;  
}


  



  

/*fith part*/  

.fith_part {
    height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fith_part .box1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Image stays in the background */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(8, 2, 44, 0.486),rgb(8, 2, 44));/* Shadow overlay */
    z-index: 2; /* Overlay above the image */
}

.text-overlay {
    z-index: 3; /* Ensures text is above the shadow and image */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    width: 100%; /* Constrain text width */
    height: 50%;
    margin: 0 auto; /* Center the text */
}

.text-overlay h1{
    position: relative;
    bottom: 60%;
    margin: 0 0 3rem 0;
    color: #ffffff; /* White text for contrast */
    font-size: 40px;
    font-family:fantasy;
    font-weight: 550;
}

.text-overlay .text-overlay_child1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
    justify-items: center;
}




.text-overlay .text-overlay_child1_box1{
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    background:#62676b;
    text-decoration: none;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px #12045f;
}


.text-overlay .text-overlay_child1_box1 h3{
    font-size: 25px;
    font-weight: 800;
}









/*fith SECTION*/


.fith_section{
    height: 60vh;
    align-items: center;
    display: flex;
    padding: 0, 10%;
    background-color:#ffffff;
    overflow: hidden;
    
    
}

.main_image_container{
    width: 60%;
    height: 85%;
    margin-right: 5%;
    align-content: center;
}

.image_container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;  
}

.fith_section img{
    width: 100%;
    height: 100%;
    
    transform: scale(1);
    transition: 1.5s ease-in;
}

 .fith_section .digital_flower{
    object-fit: cover;
}

.fith_section:hover img {
transform: scale(1.3);

    
}


.internal_fith_section{
    width: 100%;
    height: 63%;
    margin-left: 8%;
background:linear-gradient(rgb(8, 2, 44),rgb(8, 2, 44));


}


.internal_fith_section h1{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    -webkit-text-fill-color: hwb(0 95% 3%);
    margin: 40PX;

    }

    

@keyframes showLeft{
    100%{
        width:0;
    }
}




/*this is the last section*/



.last_part{
    height: 60vh;
    background: #03011a;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
    }
    
    .last_part .content_container{
        display: flex;
        flex-direction: row;
        height: 60vh;
        justify-content: space-evenly ;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;   
    }
    
    
    .last_part  li{
        color: #00F0FF;
        list-style-type: none;
        line-height: 25px;
    }
    
    .last_part  li a{
        color: #00F0FF;
        text-decoration: none;
        line-height: 30px;
    }
    
    
    .last_part .tittles {
        font-size: 20px;
        text-align: start;
        margin-bottom: 30px;
    }
    
    
    
    .last_part .content_container .box_container1, .last_part .content_container .box_container2, .last_part .content_container .box_container3, .last_part .content_container .box_container4{
        height: 45vh;
        width: 13%;
        background-color:#11055500;
        color: #00F0FF;
        text-align: start;
    }

    

    .last_part .icons {
        display: flex;
        flex-wrap: wrap;
        width: 13%;
        justify-content: space-around;
        text-align: start;
    }




    .box {
        flex: 0 1 calc(50% - 20px);
        color: #00F0FF;
        padding: 15px;
        margin: 5px;
        font-size: 28px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px 8px #0ad86a94;
        box-sizing: border-box;
    }


    .box:hover{
        cursor: pointer;
        color:#08022c;
        background-color: #ffffffc2;
        box-shadow: 2px 2px 8px #0175fad0;
    }

    
    footer{
        height: 5vh;
        background-color:#003d3d ;
        
    }
    
    footer p{
        color:#08022c;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        list-style-type: none;
        padding-top: 8px;
    }
    
    footer p a{
        color:#08022c;
        text-align: center;
        list-style-type: none;
        padding-top: 8px;
    }


    
/* Responsive styles */
@media only screen and (max-width: 359px) {

        
    

        
}

@media only screen and (min-width: 360px) and (max-width: 479px) {

           


}
@media only screen and (min-width: 480px) and (max-width: 767px) {



           
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    
        
    
    
   
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1384px) {


}





